.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.responsive-image {
  width: 100%;
  height: auto;
}


/* Media query for small screens */
@media screen and (max-width: 576px) {
  .responsive-image {
    /* Adjust the styles for small screens */
    max-width: 100%;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .responsive-image {
    /* Adjust the styles for medium screens */
    max-width: 80%; /* For example, you can set a different maximum width */
  }
}
@media screen and (min-width :769px)and(max-width:992) {
  
}
